.img-logo {
    width: 5rem;
    height: 5rem;
}

.nav-extra{
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 180px;
}

.nav-extra i{
    font-size: 24px;
}

.nav-extra div{
    display: flex;
    flex-direction: column;
}

.nav-extra strong{
    font-size: 14px;
}

.nav-extra small{
    font-size: 12px;
    color: gray;
}

.nav-extra:hover{
    color: black;
}