<h1 class="title-favorite">
    Productos agregados a favoritos
</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <!-- @for (f of Favoritos; track f.id){
            @if (f.disponibilidad) {

            }
            } -->
            <td scope="col"></td>
        </tbody>
    </table>
</div>