/*Titulo llamado por ID*/
#title {
  color: white;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
}

.division {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.contenedor-recomendados-card {
    display: flex;
    justify-content: center;
    padding: 1rem;
    text-align: left;
    /* max-width: 75ch; */
    line-height: 1.6;
}

.card {
    background-color: black;
}

