.container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; /* Permite que bajen si no entran */
    gap: 20px; /* Espacio entre cards */
    padding: 20px;
}

.card {
    width: 18rem;
}
